@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eBook Store</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the eBook Store</h2>
        <p>
            This store allows you to puchase eBooks online.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Browse our Exhastive Library</h2>
        <p>We have an exhastive eBook library that makes browsing and purchasing fun and effortless.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Library</h2>
        <p>Log in to view your purchases.</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
</div>
